# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

sdhash

# automake artifacts 
.libs
.deps
aclocal.m4
autom4te.cache
config.h
config.log
config.status
stamp-h1
Makefile

#xcode
sdhash-xcode
